{% extends "theme.html" %}

{% block content %}
<h2 align="center">Publish a new product</h2>
<br>
	<form method="POST" action=" {% url 'Publish_page' %} " align="center" enctype='multipart/form-data'>
		{% csrf_token %}
		<br>
		Title:
		<br>
			<input value='A short sentence about the product' type="text" name="Title">
			<br>
			<br>
		Introduction:
			<br>
			<textarea col=100 row=10 name='Introduction'>An introduction about the product</textarea>
			<br>
			<br>
		Link:
			<br>
			<input value='http://' type="text" name="Link">
			<br>
			<br>
		Icon:
			<input type="file" name="Icon">
			<br>
			<br>
		Image:
			<input type="file" name="Image">
			<br>
			{{ Wrong }}
			<br>
		<input class=' btn btn-primary 'type="submit" value="Publish">
	</form>

{% endblock content %}